[submodule "gulua/external/assimp"]
	path = gulua/external/assimp
	url = https://github.com/assimp/assimp.git
    branch = master
[submodule "gulua/external/glfw"]
	path = gulua/external/glfw
	url = https://github.com/glfw/glfw.git
    branch = master
[submodule "gulua/external/glm"]
	path = gulua/external/glm
	url = https://github.com/g-truc/glm.git
    branch = master
[submodule "gulua/external/stb"]
	path = gulua/external/stb
	url = https://github.com/nothings/stb.git
    branch = master
[submodule "gulua/external/bullet"]
	path = gulua/external/bullet
	url = https://github.com/bulletphysics/bullet3.git
    branch = master
[submodule "gulua/external/glad"]
	path = gulua/external/glad
	url = https://github.com/Dav1dde/glad
